## String

In [1]:
# 1
name=input("Enter your name:")
print("Hello {} !".format(name))

Enter your name:manisha
Hello manisha !

In [2]:
# 2. from below string print count of "Is".
string="He is Amol and she is chaitali"
count=string.count("is")
print("count of is {}".format(count))

count of is 2

In [3]:
#3. from below string split the words by spaces
string="Data is new oil"
string_1=string.split()
print(string_1)

['Data', 'is', 'new', 'oil']

In [4]:
#4. Now from below list,join all words by "=" and ceate a sentence
list=["Data","is","new","oil"]
string="=".join(list)
print(string)

Data=is=new=oil

In [5]:
#5. from below string replace "java" with "python"
sentence="I love programming in java"
string=sentence.replace("java","python")
print(string)

I love programming in python

In [6]:
#6. from below string remove(strip) additional space and print it
message="  This is a message with spaces.  "
strip_message=message.strip()
print(strip_message)

This is a message with spaces.

In [7]:
# 7 From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
string=sentence.find("sample")
print(string)

10

In [8]:
# 8.Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
length=len(text)
print(length)

14

In [9]:
# 9. Print below string in reverse order
string = "Pineapple"
string_1=string[::-1]
print(string_1)

elppaeniP

In [10]:
# 10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
modified_string=text.title()
print(modified_string)

Welcome To Python Programming.

In [11]:
# 11. Convert all letter of string to Upper Case
text = "Data is new oil"
upper_string=text.upper()
print(upper_string)

DATA IS NEW OIL

In [12]:
# 12. From below string just convert first lettter of string to upper case
text = "i am learning python"
string =text.title()
print(string)

I Am Learning Python

In [13]:
text = "i am learning python"
string =text.capitalize()
print(string)

I am learning python

In [14]:
# 13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
modified_string=text.swapcase()
print(modified_string)

dAta IS nEw Oil

In [15]:
# 14. print the addition of below 2 strings
a = 20
b = 30
c= a+b
print(c)

50

In [16]:
# 14. print the addition of below 2 strings
a = 20
b = 30
result = str(a) + str(b)
print(result)

2030

In [17]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c=int(a)+ int(b)
print(c)

50

In [18]:
a = "20"
b = "30"
result = str(a) + str(b)
print(result)

2030

In [19]:
# 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [20]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)

In [21]:
print(my_list)

[1, 2, 3, 200, 4, 5]

In [22]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)

In [23]:
print(my_list)

[1, 2, 3, 4, 5, 66]

In [24]:
# 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 66)  
my_list.insert(4, 87) 
my_list.insert(5, 99)

In [25]:
print(my_list)

[1, 2, 66, 3, 87, 99, 4, 5]

In [26]:
# 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [27]:
print(my_list)

[1, 2, 4, 5]

In [28]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [29]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [30]:
# 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [31]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [32]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [33]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [34]:
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

In [ ]:
# 26. Create a list Named myList that has three elements
1.The integer 3
2.The string "Element number two"
3.Another list["Last","Element"]

in that order

In [35]:
mylist =[3,"element number two",["last","element"]]

In [36]:
# 27. print the third element of the following list
l=[1,2,3,4,5,6,7,8,9]
print(l[2])

3

In [37]:
# 28. modify th elist element of this list so that its value  is 16. print the modified list so you know the operation was performed successully.
listToModify=["a","b","sixteen"]
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [38]:
# 29. Calculated the length of the following list
listToFindLength=["this","is","the","list","whose","length","I","want"]
print(len(listToFindLength))

8

In [39]:
#30 . Calculated the sum of the following list

intList = [54, 678, 2890]
sum(intList)

3622

In [40]:
# 31. Find the maxinum value the following list
maxlist=[677,53245,234,536,23456,345,23526,3454]
max(maxlist)

53245

In [41]:
# 32. Find the minimun value the following list
minlist=[351,984,169,284,134,467,164]
min(minlist)

134

In [42]:
# 33. Append the string "append mel" to the end of the following list. print the list to operation has been completed successfully.
listToAppend=[1,2,3]
listToAppend.append("append mel")
print(listToAppend)

[1, 2, 3, 'append mel']

# Python for loop

In [43]:
# 34. Print the first 10 natural numbers using for loop. 
num=int(input("Enter the number:"))
for i in range(1,num):
        print(i)

Enter the number:10
1
2
3
4
5
6
7
8
9

In [44]:
# 35. Python program to print all the even numbers within the given range.

given_range =10
for i in range(1,10):
    if i%2==0:
        print(i)

2
4
6
8

In [45]:
# 36.Python program to calculate the sum of all numbers from 1 to a given number.
num=int(input("Enter the number:"))
sum=0
for i in range(1,14+1):
    sum+=i
    print(sum)

Enter the number:14
1
3
6
10
15
21
28
36
45
55
66
78
91
105

In [46]:
# 37.Python program to calculate the sum of all the odd numbers within the given range.
number=int(input("Enter the number:"))
sum=0
for i in range(given_range):
    if i%2!=0:
        sum+=i
        print(sum)

Enter the number:12
1
4
9
16
25

In [47]:
# 38.Python program to print a multiplication table of a given number
given_number=5
for i in range(1,11):
    print(5,"x",i,"=",5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [48]:
# 39.Python program to display numbers from a list using a for loop.
list=[1,2,3,4,1,2,55]
for i in list:
    print(i)

1
2
3
4
1
2
55

In [49]:
# 40.Python program to count the total number of digits in a number.
number = int(input("Enter the number: "))
count_number = str(number)
count = 0
for i in count_number:
    count +=1
    
print(count)

Enter the number: 47589
5

In [50]:
# 41. Python program to check if the given string is a palindrome.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
if string==reverse_string:
    print("The given string {} is palindrome".format(string))
else:
    print("The given string {} is not palindrome".format(string))

Enter the string: mom
The given string mom is palindrome

In [51]:
# 42.Python program that accepts a word from the user and reverses it.
given_string=input("Enter the string:")
reverse_string=""
for i in given_string:
    reverse_string=i+reverse_string
    print(reverse_string)

Enter the string:manisha
m
am
nam
inam
sinam
hsinam
ahsinam

In [52]:
# 43. Python program to check if a given number is an Armstrong number
given_number=153
given_number=str(given_number)
string_length=len(given_number)
sum=0
for i in given_number:
    sum+=int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [53]:
# 44.Python program to count the number of even and odd numbers from a series of numbers.
num_list=[1,3,5,6,99,134,55]
for i in num_list:
    if i%2==0:
        print(i,"is an even number.")
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [54]:
# 45.Python program to display all numbers within a range except the prime numbers.
import math

def is_not_prime(n):
    if n <= 1:
        return True
    
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return True
    
    return False

range_starts = 10
range_ends = 30
print("Non-prime numbers between", range_starts, "and", range_ends, "are:")

for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

Non-prime numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28

In [55]:
# 46. Python program to get the Fibonacci series between 0 to 50.
num = 50
first_value, second_value = 0, 1
for n in range(0, num):
    if n <= 1:
        next_value = n
    else:
        next_value = first_value + second_value
        first_value = second_value
        second_value = next_value
    if next_value > num:
        break
    print(next_value)

0
1
1
2
3
5
8
13
21
34

In [67]:
# 47.Python program to find the factorial of a given number.
num=int(input("Enter the number:"))
factorial = 1
 
for i in range(1, num+ 1):
    factorial = factorial * i
    print("The factorial of ", given_number, " is ", factorial)

Enter the number:12
The factorial of  5  is  1
The factorial of  5  is  2
The factorial of  5  is  6
The factorial of  5  is  24
The factorial of  5  is  120
The factorial of  5  is  720
The factorial of  5  is  5040
The factorial of  5  is  40320
The factorial of  5  is  362880
The factorial of  5  is  3628800
The factorial of  5  is  39916800
The factorial of  5  is  479001600

In [63]:
# 48. Python program that accepts a string and calculates the number of digits and letters.
user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print(" The input string",user_input, "has", letters, "letters and", digits,"digits.")

Enter the string: manisha14
 The input string manisha14 has 7 letters and 2 digits.

In [34]:
# 49. Given the following dictionary, print all the keys.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

for key in my_dict.keys():
    print(key)

name
age
city
occupation

In [30]:
# 50.Print all values of dictionary 

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

for value in my_dict.values():
    print(value)

Alice
25
New York
Engineer

In [31]:
# 51.Print all values except "New York"

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

for value in my_dict.values():
    if value!= "New York":
        print(value)

Alice
25
Engineer

In [32]:
#52. Delete key "age" from below dict

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

if "age" in my_dict:
    del my_dict["age"]

print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [33]:
#53. Print value of "occupation" from below dictionary.

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

print(my_dict["occupation"])

Engineer

In [25]:
#54.Write a python function for addition of 2 number

def add_numbers(num1, num2):
    sum = num1 + num2
    return sum

result = add_numbers(50, 40)
print('Sum: ', result)

Sum:  90

In [6]:
# 55. Write function to add all numbers of list and print


def sum_numbers(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

numbers_list = [8, 2, 3, 0, 7]
total = sum_numbers(numbers_list)
print(total)

20

In [31]:
# 56. . Write a fucntion to check if number is even or odd and print it.


def even_odd(num):
    if num % 2 == 0:
        print("{} Is Even Number".format(num))
    else:
        print("{} Is Odd Number".format(num))

even_odd(23)

23 Is Odd Number

In [27]:
# 57. Take any no of inputs in functions and print them.

def print_args(*args):
    for arg in args:
        print(arg)
    return 15

a = print_args(1, 5, 8, "hello")
print("Returned value:", a)

1
5
8
hello
Returned value: 15

In [28]:
# 58.. Write python function which will take N number of string as inputs and will return list of Upper case string
def upper_string(*words):
    upper_list = []
    for word in words:
        upper_list.append(word.upper())
    return upper_list

upper_words = upper_string("Ketan", "Shyam", "AMOL", "Chirag")
print(upper_words)

['KETAN', 'SHYAM', 'AMOL', 'CHIRAG']

In [29]:
# 59. write a python function which takes multiple keyword arguments.

def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print("{},{}".format(key,value))

print_kwargs(name="Manisha", age=26, city="Austin")

name,Manisha
age,26
city,Austin

In [30]:
#60. write a python function which takes keyword agruments and find maximum value among all

def find_max(**kwargs):
    return max(kwargs.values())

result = find_max(a=104568, b=556, c=1155)
print(result)

104568